@model IEnumerable<hr_jide.Models.EmployeeImmigration>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>

</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DocumentType)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IssuedDate)
            </th>
           
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentType.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EligibleReviewDate)
            </td>
           
            <td>
                <a class="btn btn-primary btn-group-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-success btn-group-sm" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger btn-group-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
